@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 280 100% 99%;
  --foreground: 280 15% 12%;
  --card: 0 0% 100%;
  --card-foreground: 280 15% 12%;
  --popover: 0 0% 100%;
  --popover-foreground: 280 15% 12%;
  --primary: 281 100% 35%;
  --primary-foreground: 0 0% 100%;
  --secondary: 48 37% 91%;
  --secondary-foreground: 281 100% 24%;
  --muted: 48 37% 93%;
  --muted-foreground: 281 20% 26%;
  --accent: 281 100% 93%;
  --accent-foreground: 281 100% 24%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --border: 281 29% 87%;
  --input: 281 29% 87%;
  --ring: 281 100% 35%;
  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 281 50% 9%;
    --foreground: 0 0% 98%;
    --card: 281 45% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 281 45% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 281 100% 60%;
    --primary-foreground: 281 50% 10%;
    --secondary: 281 40% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 281 33% 22%;
    --muted-foreground: 281 100% 95%;
    --accent: 281 40% 22%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 74% 42%;
    --destructive-foreground: 0 0% 98%;
    --border: 281 33% 22%;
    --input: 281 33% 22%;
    --ring: 281 100% 60%;
  }
}

* {
  border-color: hsl(var(--border));
}

body {
  @apply bg-background text-foreground antialiased;
}

@layer base {
  :root {
    color-scheme: light;
  }
}